.sommaire {
    list-style-type: none; 
    padding-left: 0; 
    padding: 4%;
    width: 40%;
    margin:auto;
  }

  .sommaire li a {
    color : black; 
    padding : 10%; 
    text-align: center;
    text-decoration: none; 
    font-weight: bold; 
    display: block; 
    background-color: #f0f0f0; 
  }
  
  .sommaire li a:hover {
    color: white;  
    background-color: #2ec4b6  ;
  }

  .RevenirSommaire{
    font-size: 0.8em;
  }
  
  .connexion
  {
    display: flex;
    margin :unset;
    justify-content: center;
    margin : auto;
  }