
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    padding : 4%; 
}

h2 {
    text-align: center;
    padding : 4%; 
}
p{
    text-align: center;
}

/* CSS pour les formulaires par défaut (formulaire inscription, de connextion, des formulaires..)*/
#formulaire{
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-top: solid 5px #ffbf69    ;
    padding: 50px;
    width: 60%;
}

input, label, textarea{
    display: block;
    width: 100%;
    margin: 7px 0;
    font-size: 1.3em;
}

button {
    padding: auto; 
    display: block;
    background: #ff9f1c; 
    width: 12vw;
    height: 5vw;
    color: white;
    text-align: center;
    align-items: center;
    padding: 0.5vw; 
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 80%;
    margin: 10% auto;
    border : none;
}

button:hover {
    background-color: #ffbf3a;
}


.error {
    font-size: 0.9em;
    color: rgb(150, 0, 0);
}

.valid {
    font-size: 0.9em;
    color: rgb(17, 150, 0);

}

/* CSS pour les tableaux : utilisé pour la tableau des utilisateurs, des attractions et des parcours */
.divtab{
    margin: auto; 
    overflow-x: auto;
    width: 60%;

    }


table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: #f2f2f2;
    padding: 2%;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
  }
  
  tbody td {
    border-bottom: 1px solid #ddd;
    padding: 3%;
  }
  
  .list-item:hover {
    background-color: #e5e5e5; 
  }

 
/* CSS pour les popups */
  
.popup-bg {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: auto; 
    margin: 2% auto; 
    padding: 3%; 
}



p{
    color : black; 
}
.popup-bg.active {
    display: flex;
}

.popupDelete {
    background: white;
    width: 70%;
    padding: 5%;
    border-radius: 2%;
}


.popupEdit {
    background: white;
    width: 90%;
    padding : 5%;
    box-sizing: border-box;
    padding-top : 50%; 
  
}

.popupEdit form label {
    display: block;
    margin-bottom: 1%;
    color: black;
}

.popupEdit form input {
    width: 100%;
    padding: 1%;
    border-radius: 5%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.popup-bg .btns {
    display: flex;
    justify-content: space-around;

}

/* CSS pour les boutons de bases */

.btn-enregistrer{
    background: green;
}
.btn-supprimer{
    background: rgb(194, 23, 23);
}

.btn-annuler {
    background: rgb(172, 172, 172);
}

.btn-supprimer:hover {
    background: rgb(52, 52, 52);
}

.btn-enregistrer:hover{
    background: rgb(52, 52, 52);
}

.btn-annuler:hover {
    background: rgb(172, 172, 172);
    background: rgb(52, 52, 52);
}